<banner></banner>
<about-section></about-section>

<div class="flex min-h-svh items-center px-5 py-32">
  <div class="mx-auto grid max-w-7xl gap-8">
    <h2 class="text-center font-style text-6xl font-semibold">
      Popular Products
    </h2>
    <div class="no-scrollbar flex snap-x snap-mandatory gap-6 overflow-x-auto">
      @for (product of popularProducts; track product.id) {
        <card class="w-72 shrink-0 snap-start">
          <ng-template #illustration>
            <img
              [src]="product.thumbnail"
              class="aspect-video w-full rounded-lg object-cover object-center"
              [alt]="product.name"
            />
          </ng-template>
          <h5 class="text-xl font-semibold">{{ product.name }}</h5>
          <p class="line-clamp-2 h-10">{{ product.description }}</p>
          <p class="text-lg text-orange-600">
            {{ product.price | currency: 'IDR' : 'symbol' : '1.0' }}
          </p>
        </card>
      }
    </div>
  </div>
</div>
